* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: rgb(39, 36, 36);
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    position: relative;
}

.hero-image {
    width: 100%;
}

.welcome {
    padding: 30px;
    position: absolute;
    left: 45%;
    top: 15%;
}

h1 {
    font-size: 3vw;
}

h1 span {
    font-size: 1.3em;
}

h2 {
    margin-bottom: 10px;
    color: #4b4b4b;
    font-size: 25px;
}

p {
    margin-bottom: 30px;
    line-height: 2em;
    color: #4b4b4b;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 0px;
    white-space: nowrap;
    width: 100%;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: #4b4b4b;
    font-weight: bold;
    margin: 10px;
}

main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

.nav-content {
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
}

.travelroute-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

.travelroute-picture {
    display: flex;
    width: 500px;
}

.about-picture {
    width: 250px;
    margin-right: 20px;
}

.blog {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
}

footer {
    display: grid;
    place-items: center;
    background: #f4f4f4;
    color: #4b4b4b;
    margin-top: auto;
    padding: 20px;

}

.flex-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}





@media screen and (max-width: 700px) {


    .welcome {
        position: absolute;
        text-align: center;
        padding: 10px;
    }

    h1 {
        font-size: 25px;
    }

    h1 span {
        font-size: 1em;
    }

    .travelroute-container {
        flex-wrap: wrap;
    }

    .travelroute-picture {
        margin: 20px auto;
    }
}



@media screen and (max-width: 560px) {

    nav {
        font-size: 20px;
        display: block;
        width: 100%;
        margin: 12px 0;
    }

    header {
        position: relative;
    }

    nav {
        top: 0;
    }